       <div class="CardsGameClass"  >
               <div>                       
               
                    {{  this.cardGameService.myCard[0][0] }}
                    {{  this.cardGameService.myCard[0][1] }}
                    {{  this.cardGameService.myCard[0][2] }}
                    <br>

                    {{  this.cardGameService.myCard[1][0] }}
                    {{  this.cardGameService.myCard[1][1] }}
                    {{  this.cardGameService.myCard[1][2] }}
                    <br>
                    {{  this.cardGameService.myCard[2][0] }}
                    {{  this.cardGameService.myCard[2][1] }}
                    {{  this.cardGameService.myCard[2][2] }}
                </div>

               <img class="winCardClass" 
                src="https://www.w3schools.com/images/w3schools_green.jpg"
                     *ngIf="this.Bingo"
                >
        </div>




     
        